<%- include("./partials/header"); %>
<%- include("./partials/navbar"); %>
<h1>Template index.ejs</h1>
<a href="">next page</a>
<script
        class="amocrm_oauth"
        charset="utf-8"
        data-client-id="3056f562-93ab-421b-9802-6ba739e9fa90"
        data-title="Button"
        data-compact="false"
        data-class-name="className"
        data-color="default"
        data-state="state"
        data-error-callback="functionName"
        data-mode="popup"
        src="https://www.amocrm.ru/auth/button.min.js"
></script>
<%- include("./partials/footer"); %>
